workflow_n8n.json
{
  "name": "Tecnocasa SMS - 3 agenci",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "9b61b5e0-c0e1-49d4-aed9-6b0e3ed85c09",
      "name": "Uruchom codziennie o 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-1456, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "epic202012@gmail.com",
          "mode": "list",
          "cachedResultName": "Hubert"
        },
        "options": {
          "timeMin": "={{ $now.startOf('day').toISO() }}",
          "timeMax": "={{ $now.endOf('day').toISO() }}"
        }
      },
      "id": "6c43ac84-4877-4ad6-b2e9-18b612e73bf0",
      "name": "Kalendarz Hubert",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [-1024, 0],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fus5VXkzCPpHSzA6",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "96e3daa8406aa28d1ac409213099e7ac4fed7722a7750ce9f66a9cbc25a64c8d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Wiktoria"
        },
        "options": {
          "timeMin": "={{ $now.startOf('day').toISO() }}",
          "timeMax": "={{ $now.endOf('day').toISO() }}"
        }
      },
      "id": "24370a31-284e-419e-b69b-2115c0fd1d24",
      "name": "Kalendarz Wiktoria",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [-1024, 208],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fus5VXkzCPpHSzA6",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "40b798fe606a7e6fd282aa973afe976bec7e3d51aa85862bd17db569a82c9591@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Jakub"
        },
        "options": {
          "timeMin": "={{ $now.startOf('day').toISO() }}",
          "timeMax": "={{ $now.endOf('day').toISO() }}"
        }
      },
      "id": "d7a92a5f-d1bb-46db-bd96-9a98faed2c2b",
      "name": "Kalendarz Jakub",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [-1024, -208],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fus5VXkzCPpHSzA6",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsuje spotkania ze wszystkich 3 kalendarzy (Hubert, Wiktoria, Jakub).\n// Format tytulu: \"ACQ, Maciej, 111222333, Głowackiego 7\"\n// Agent = nazwa kalendarza Google (organizer.displayName)\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const summary = (item.json.summary || \"\").trim();\n  const parts = summary.split(\",\").map((s) => s.trim());\n\n  if (parts.length < 4) {\n    continue;\n  }\n\n  const agentName = (item.json.organizer?.displayName || \"\").trim();\n  if (!agentName) {\n    continue;\n  }\n\n  const scheduledTime = item.json.start?.dateTime || item.json.start?.date || \"\";\n  if (!scheduledTime) {\n    continue;\n  }\n\n  const phone = parts[2].replace(/\\s/g, \"\");\n  if (!phone) {\n    continue;\n  }\n\n  const startDate = new Date(scheduledTime);\n  const timeStr = startDate.toLocaleTimeString(\"pl-PL\", {\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    timeZone: \"Europe/Warsaw\",\n  });\n\n  results.push({\n    json: {\n      google_event_id: item.json.id,\n      scheduled_time: scheduledTime,\n      scheduled_at: scheduledTime,\n      client_name: parts[1],\n      phone: phone,\n      address_str: parts[3],\n      agent_name: agentName,\n      meeting_type: parts[0],\n      time_str: timeStr,\n    },\n  });\n}\n\nreturn results;"
      },
      "id": "394afec1-86ee-4a38-859d-86e823e40ce9",
      "name": "Parsuj spotkania",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server:8080/tools/check_sms_status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"google_event_id\": \"{{ $json.google_event_id }}\",\n  \"scheduled_time\": \"{{ $json.scheduled_time }}\",\n  \"sms_type\": \"REMINDER\"\n}",
        "options": {}
      },
      "id": "78dda5ce-d1a7-4cf7-a62e-4d5ef73cbb1d",
      "name": "Sprawdz czy SMS juz wyslany",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-480, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "511e1614-fc40-4442-8454-048dc1d1b82e",
              "leftValue": "={{ String($json.sent) }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [-240, 0],
      "id": "26fa421e-cce0-444f-8f55-32ee2d5bb08e",
      "name": "Tylko niewyslane"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server:8080/tools/mock_send_sms",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"google_event_id\": \"{{ $('Parsuj spotkania').item.json.google_event_id }}\",\n  \"scheduled_time\": \"{{ $('Parsuj spotkania').item.json.scheduled_time }}\",\n  \"scheduled_at\": \"{{ $('Parsuj spotkania').item.json.scheduled_at }}\",\n  \"phone\": \"{{ $('Parsuj spotkania').item.json.phone }}\",\n  \"client_name\": \"{{ $('Parsuj spotkania').item.json.client_name }}\",\n  \"time_str\": \"{{ $('Parsuj spotkania').item.json.time_str }}\",\n  \"address_str\": \"{{ $('Parsuj spotkania').item.json.address_str }}\",\n  \"agent_name\": \"{{ $('Parsuj spotkania').item.json.agent_name }}\",\n  \"sms_type\": \"REMINDER\"\n}",
        "options": {}
      },
      "id": "c9524848-f92e-44ce-8fe0-782e2357c3c2",
      "name": "Wyslij Mock SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 0]
    }
  ],
  "connections": {
    "Uruchom codziennie o 10:00": {
      "main": [
        [
          {
            "node": "Kalendarz Hubert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kalendarz Wiktoria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kalendarz Jakub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kalendarz Hubert": {
      "main": [
        [
          {
            "node": "Parsuj spotkania",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kalendarz Wiktoria": {
      "main": [
        [
          {
            "node": "Parsuj spotkania",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kalendarz Jakub": {
      "main": [
        [
          {
            "node": "Parsuj spotkania",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsuj spotkania": {
      "main": [
        [
          {
            "node": "Sprawdz czy SMS juz wyslany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprawdz czy SMS juz wyslany": {
      "main": [
        [
          {
            "node": "Tylko niewyslane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tylko niewyslane": {
      "main": [
        [
          {
            "node": "Wyslij Mock SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24d740aa82911a205af89d8f01c802ba5648b4a60ef7f81eaa704e1418dbe5de"
  }
}
